.shower {
  --slide-ratio: calc(16 / 9);
}
.slide {
  background-color: #212121;
  padding-top: 24px;
  padding-bottom: 24px;
}
.slide,
.slide li::before,
.slide h2 {
  color: #fafafa;
}

.hide {
  color: #212121 !important;
}

.forbidden {
  background-image: url('pictures/forbidden_sign.png');
  background-size: contain;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.red {
  color: #ff0039 !important;
}

.haskell {
  background-image: url('pictures/haskell_logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.bold {
  font-weight: 600 !important;
}

.white {
  background-color: #eee !important;
}

.fit {
  height: 100%;
}

.pale {
  color: #4a4a4f;
}
.lambda {
  font-family: 'Charm', 'Alegreya Sans', sans-serif !important;
  margin: 0 !important;
  line-height: 78px;
}

.js {
  font-family: 'Charm', 'Alegreya Sans', sans-serif !important;
  margin: 0 !important;
}
code {
  font-family: 'Inconsolata', monospace !important;
}

.comment {
  color: #666 !important;
  font-style: italic;
}
.combinator {
  color: #ccc;
  position: absolute;
  top: 24px;
  left: 32px;
  font-size: 60px;
}
.no-margins {
  margin: 0 !important;
}
.no-paddings {
  padding: 0;
}
.flex {
  display: flex;
  flex-direction: column;
}
.center {
  align-self: center;
}
.middle {
  justify-content: center;
}
.space-around {
  justify-content: space-around;
}
.sub3-moderate {
  font-size: 66px;
  font-weight: 400;
}
.sub-sub-moderate {
  font-size: 111px;
  font-weight: 400;
}
.sub-moderate {
  font-size: 40px;
  font-weight: 400;
}
.moderate {
  font-size: 60px;
  font-weight: 400;
}
.sub3-big {
  font-size: 84px !important;
}
.sub2-big {
  font-size: 90px !important;
}
.sub-big {
  font-size: 120px !important;
}
.big {
  font-size: 160px;
  font-weight: 400;
}
.glow {
  color: #45a1ff;
  text-shadow: 1px 1px 2px black, 0 0 25px #45a1ff, 0 0 5px darkblue;
}
